.word-waves span {
    position: absolute;
    color: #ffffff;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    margin-top: 1em;
}

.word-waves span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: .3px #C3A279;
}

.word-waves span:nth-child(2) {
    color: #C3A279;
    -webkit-text-stroke: 1px #C3A279;
    animation: animation 4s ease-in-out infinite;
}

@keyframes animation {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54 60% 
        70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%)
    }

    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%,
        67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

/* button toggle mode*/
html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f7;
    transition: 0.4s;
}

body.dark {
    background-color: #212121;
}

.switch {
    position: relative;
    width: 3.5rem;
    height: 2rem;
    border: 1px solid #d0d1d3;
    border-radius: 20px;
    margin-top: 5em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(215, 215, 228);
}

.slide::before {
    position: absolute;
    content: '';
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 20px;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #37393f;
}

input:checked + .slide::before {
    left: calc(100% - 1.7rem);
    background: #37393f;
    box-shadow: 
        inset -3px -2px 5px -2px #8983f7,
        inset -10px -4px 0 0 #a3dafb;
} 

#signup {
    border: none;
    border-radius: 8px;
    width: 300px;
    margin: 1em auto 0 auto;
    padding: 10px;
    color: #C3A279;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

legend {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.field {
    margin: 20px 10px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
    border: 1px solid rgb(233, 233, 236);
    font-size: 12px;
    width: 200px;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 14px;
}

small {
    display: block;
    color: rgb(245, 31, 31);
}

#togglePassword {
    display: inline;
    margin-left: 10px;
}

.field span {
    margin-top: 10px;
    display: block;
    color: rgb(49, 49, 255);
    cursor: pointer;
}

#button {
    display: block;
    padding: 8px;
    color: #ffffff;
    background: #C3A279;
    border: none;
    border-radius: 8px;
    width: 90px;
    margin: 0 auto 10px auto;
}

#createAcc {
    color: rgb(49, 49, 255);
    cursor: pointer;
    border: none;
    background: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}


